* {
  margin: 0;
  font-family: 'Lato', sans-serif; }

.btn a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  font-size: 20px; }

.btn .btn-text {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.btn:hover .btn-text {
  opacity: 0.5; }

.scroll-title-wrapper {
  opacity: 0.05;
  position: absolute;
  width: 100%;
  overflow: hidden;
  white-space: nowrap; }
  .scroll-title-wrapper h3 {
    font-size: 90px; }

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
  grid-template-columns: 1fr 3fr;
  -ms-flex-line-pack: center;
  align-content: center;
  height: 100px;
  position: fixed;
  z-index: 10;
  width: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  header .header-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5; }
  header .header-left {
    z-index: 10;
    padding-left: 25px;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    header .header-left a {
      position: absolute;
      -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
      transform-origin: left center;
      height: 17px; }
      header .header-left a .logo {
        height: 25px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      header .header-left a #logoWhite {
        opacity: 0; }
  header .header-right {
    z-index: 10;
    padding-right: 25px;
    justify-self: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    header .header-right .burger {
      display: inline-block;
      cursor: pointer; }
      header .header-right .burger .bar1, header .header-right .burger .bar2, header .header-right .burger .bar3 {
        width: 20px;
        height: 2px;
        background-color: #212121;
        margin: 4px 0;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s; }
    header .header-right .burger-active .bar1 {
      background-color: white;
      -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
      transform-origin: center center;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg) translateY(4px) translateX(-5px);
      transform: rotate(-45deg) translateY(4px) translateX(-5px); }
    header .header-right .burger-active .bar2 {
      background-color: white;
      opacity: 0; }
    header .header-right .burger-active .bar3 {
      background-color: white;
      -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
      transform-origin: center center;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg) translateY(-4px) translateX(-5px);
      transform: rotate(45deg) translateY(-4px) translateX(-5px); }
    header .header-right ul {
      display: none; }
      header .header-right ul li {
        font-weight: 500;
        display: inline;
        margin-left: 20px;
        cursor: pointer; }
        header .header-right ul li a {
          text-decoration: none;
          color: #212121;
          mix-blend-mode: difference; }
  @media (min-width: 720px) {
    header .header-left {
      padding-left: 40px; }
      header .header-left .logo {
        height: 20px; }
    header .header-right {
      padding-right: 40px; }
      header .header-right .burger {
        display: none; }
      header .header-right ul {
        display: inline-block; } }

.header-active {
  background-color: #212121;
  height: 60px; }
  .header-active .header-left .logo {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }
  .header-active .header-left #logoWhite {
    opacity: 1; }
  .header-active .header-left #logoBlack {
    opacity: 0; }
  .header-active .header-right {
    color: white; }
    .header-active .header-right .burger .bar1, .header-active .header-right .burger .bar2, .header-active .header-right .burger .bar3 {
      background-color: white; }
    .header-active .header-right a {
      color: white; }

.mobile-navigation-overlay {
  pointer-events: none;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  opacity: 0;
  position: fixed;
  display: -ms-grid;
  display: grid;
  z-index: 5; }
  .mobile-navigation-overlay .mobile-nav-left {
    background-color: #212121;
    height: 0%;
    -webkit-transition: 0.7s cubic-bezier(0.94, 0.09, 0.37, 0.78);
    -o-transition: 0.7s cubic-bezier(0.94, 0.09, 0.37, 0.78);
    transition: 0.7s cubic-bezier(0.94, 0.09, 0.37, 0.78);
    -webkit-transition-delay: 0.15s;
    -o-transition-delay: 0.15s;
    transition-delay: 0.15s;
    top: 0;
    position: absolute;
    width: 50%;
    padding-right: 4px; }
    .mobile-navigation-overlay .mobile-nav-left ul {
      padding: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .mobile-navigation-overlay .mobile-nav-left ul li {
        list-style: none; }
        .mobile-navigation-overlay .mobile-nav-left ul li a {
          text-decoration: none;
          color: white;
          font-size: 25px;
          line-height: 40px;
          -webkit-transition-delay: 2s;
          -o-transition-delay: 2s;
          transition-delay: 2s;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
  .mobile-navigation-overlay .mobile-nav-right {
    background-color: #212121;
    color: white;
    height: 0%;
    top: 0;
    right: 0;
    position: absolute;
    -webkit-transition: 0.7s cubic-bezier(0.94, 0.09, 0.37, 0.78);
    -o-transition: 0.7s cubic-bezier(0.94, 0.09, 0.37, 0.78);
    transition: 0.7s cubic-bezier(0.94, 0.09, 0.37, 0.78);
    width: 50%; }
    .mobile-navigation-overlay .mobile-nav-right .socials {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      display: -ms-grid;
      display: grid;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      justify-items: center;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 1em; }
      .mobile-navigation-overlay .mobile-nav-right .socials i {
        font-size: 20px;
        cursor: pointer;
        opacity: 0.6;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .mobile-navigation-overlay .mobile-nav-right .socials h4 {
        font-size: 12px;
        font-weight: 400;
        opacity: 0.6;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1/3; }

.mobile-navigation-overlay-active {
  pointer-events: auto; }
  .mobile-navigation-overlay-active .mobile-nav-left, .mobile-navigation-overlay-active .mobile-nav-right {
    height: 100%; }

#lander {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  overflow: hidden; }
  #lander .lander-bg {
    background-color: white;
    background: url("assets/whiteBG2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  #lander .lander-content {
    display: -ms-grid;
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    #lander .lander-content .lander-left h1 {
      text-align: center;
      font-size: 40px;
      color: black;
      margin-bottom: 30px; }
    #lander .lander-content .lander-left .btn-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      justify-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 30px; }
      #lander .lander-content .lander-left .btn-wrapper .btn {
        margin-bottom: 20px;
        padding: 0; }
    #lander .lander-content .lander-right {
      width: 60%;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 2em;
      grid-column-gap: 2em;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      justify-items: center;
      -ms-grid-column-align: center;
      justify-self: center;
      -ms-grid-row-align: center;
      align-self: center; }
      #lander .lander-content .lander-right img {
        max-width: 100%;
        max-height: 50px;
        opacity: 0.7; }
  @media (min-width: 720px) {
    #lander .lander-bg {
      width: 100%;
      height: auto; }
    #lander .lander-content {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      width: 80%; }
      #lander .lander-content .lander-left h1 {
        text-align: left;
        font-size: 90px; }
      #lander .lander-content .lander-left .btn-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; }
        #lander .lander-content .lander-left .btn-wrapper .btn {
          margin-right: 40px; } }

#about {
  background-color: #212121;
  width: 100%;
  position: relative; }
  #about .scroll-title-wrapper {
    top: 45%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0.1; }
    #about .scroll-title-wrapper h3 {
      color: white;
      margin-left: 100px; }
  #about .about-content {
    display: -ms-grid;
    display: grid;
    width: 90%;
    margin: auto;
    padding: 250px 0 0 0; }
    #about .about-content .about-left {
      position: relative; }
      #about .about-content .about-left img {
        width: 100%; }
      #about .about-content .about-left .about-img-1 {
        bottom: 0;
        float: right;
        width: 60%; }
      #about .about-content .about-left .about-img-2 {
        position: absolute;
        bottom: 0;
        width: 60%;
        margin-bottom: -100px; }
    #about .about-content .about-right {
      color: white;
      margin-bottom: 100px; }
      #about .about-content .about-right h3 {
        font-size: 16px;
        margin-bottom: 30px;
        letter-spacing: 2px; }
      #about .about-content .about-right p {
        font-size: 18px;
        line-height: 30px; }

#partners {
  padding: 200px 0 125px 0;
  position: relative; }
  #partners .scroll-title-wrapper {
    top: 240px; }
  #partners .partners-content {
    margin: auto;
    width: 90%; }
    #partners .partners-content h3 {
      font-size: 16px;
      margin-bottom: 50px;
      letter-spacing: 2px;
      text-align: center; }
    #partners .partners-content .partners-carousel {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 1em;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      #partners .partners-content .partners-carousel img {
        width: 100%; }

#projects .projects-content {
  position: relative;
  width: 100%;
  /*.images{
            position: absolute;
            width:100%;
            
            z-index:0;
            background-color: red;
            min-height:100px;
            #project-img1{
                //margin-top: 320px;
                right:0;
                //position: absolute;
                z-index:100;
            }
            .img-wrapper{
                /*.img-crop{
                    width:40%;
                    padding-top: 40%;
                    position: relative;
                    overflow: hidden;
                    clear:both;
                    img{
                        height: 100%;
                        position: absolute;
                        top:50%;
                        left:50%;
                        transform: translate(-50%,-50%);
                    }
                }
                //margin-top:-100px;
                position: relative;
                background-color:blue;
                .img-crop{
                    height:400px;
                    width:35%;
                    position: absolute;
                    overflow: hidden;
                    clear:both;
                    //transform: translateY(-50%);
                    img{
                        height: 100%;
                        position: absolute;
                        top:50%;
                        left:50%;
                        transform: translate(-50%,-50%);
                        opacity:0.7;
                    }
                }
            }
            .img-wrapper-right{
                .img-crop{
                    float:right;
                }
                
                background-color: blue;
            }
        }*/ }
  #projects .projects-content .project-titles {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute; }
    #projects .projects-content .project-titles h3 {
      font-size: 16px;
      letter-spacing: 2px;
      text-align: center; }
    #projects .projects-content .project-titles .vertical-line {
      border-left: 1px solid black;
      height: 200px;
      margin: 30px 0; }
    #projects .projects-content .project-titles .project-title {
      position: relative;
      width: 100%;
      padding-top: 10px; }
      #projects .projects-content .project-titles .project-title .project-text-wrapper {
        position: relative;
        z-index: 100; }
        #projects .projects-content .project-titles .project-title .project-text-wrapper a {
          font-size: 25px;
          margin-bottom: 10px;
          text-decoration: none;
          color: black; }
        #projects .projects-content .project-titles .project-title .project-text-wrapper .btn a {
          font-size: 16px; }
      #projects .projects-content .project-titles .project-title .img-wrapper {
        position: absolute;
        width: 80%;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        opacity: 0.7;
        overflow: hidden;
        z-index: 0; }
        #projects .projects-content .project-titles .project-title .img-wrapper .img-crop {
          height: 400px;
          width: 100%;
          position: relative; }
          #projects .projects-content .project-titles .project-title .img-wrapper .img-crop img {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
      #projects .projects-content .project-titles .project-title .img-wrapper-left {
        left: 0; }
    #projects .projects-content .project-titles .project-title-right {
      text-align: left;
      width: 50%;
      -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
      transform: translateX(50%); }
    #projects .projects-content .project-titles .project-title-left {
      text-align: right;
      width: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
