* {
  margin: 0;
  font-family: 'Lato', sans-serif; }

html {
  scroll-behavior: smooth; }

.paroller-scroll-title {
  text-transform: uppercase; }

::-moz-selection {
  background: #e0ecff;
  /* WebKit/Blink Browsers */ }

::selection {
  background: #e0ecff;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #e0ecff;
  /* Gecko Browsers */ }

.btn a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  font-size: 20px; }

.btn .btn-text {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.btn:hover .btn-text {
  opacity: 0.5; }

.scroll-title-wrapper {
  opacity: 0.05;
  position: absolute;
  width: 100%;
  overflow: hidden;
  white-space: nowrap; }
  .scroll-title-wrapper h6 {
    font-size: 90px; }

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
  grid-template-columns: 1fr 3fr;
  -ms-flex-line-pack: center;
  align-content: center;
  height: 100px;
  position: fixed;
  z-index: 10;
  width: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  header .header-bg {
    width: 100%;
    height: 0;
    position: absolute;
    z-index: 5;
    -webkit-transition: 0.4s cubic-bezier(0.94, 0.09, 0.37, 0.78);
    -o-transition: 0.4s cubic-bezier(0.94, 0.09, 0.37, 0.78);
    transition: 0.4s cubic-bezier(0.94, 0.09, 0.37, 0.78); }
  header .header-left {
    z-index: 10;
    padding-left: 25px;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    header .header-left a {
      position: absolute;
      -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
      transform-origin: left center;
      height: 17px; }
      header .header-left a .logo {
        height: 25px;
        -webkit-transition: opacity 1.3s, -webkit-transform 0.3s;
        transition: opacity 1.3s, -webkit-transform 0.3s;
        -o-transition: transform 0.3s, opacity 1.3s;
        transition: transform 0.3s, opacity 1.3s;
        transition: transform 0.3s, opacity 1.3s, -webkit-transform 0.3s; }
      header .header-left a #logoWhite {
        opacity: 0; }
  header .header-right {
    z-index: 10;
    padding-right: 25px;
    justify-self: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    header .header-right .burger {
      display: inline-block;
      cursor: pointer; }
      header .header-right .burger .bar1, header .header-right .burger .bar2, header .header-right .burger .bar3 {
        width: 20px;
        height: 2px;
        background-color: #212121;
        margin: 4px 0;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s; }
    header .header-right .burger-active .bar1 {
      background-color: white;
      -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
      transform-origin: center center;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg) translateY(4px) translateX(-5px);
      transform: rotate(-45deg) translateY(4px) translateX(-5px); }
    header .header-right .burger-active .bar2 {
      background-color: white;
      opacity: 0; }
    header .header-right .burger-active .bar3 {
      background-color: white;
      -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
      transform-origin: center center;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg) translateY(-4px) translateX(-5px);
      transform: rotate(45deg) translateY(-4px) translateX(-5px); }
    header .header-right ul {
      display: none; }
      header .header-right ul li {
        font-weight: 500;
        display: inline;
        margin-left: 20px;
        cursor: pointer; }
        header .header-right ul li a {
          text-decoration: none;
          color: #212121;
          mix-blend-mode: difference;
          -webkit-transition: 1.3s;
          -o-transition: 1.3s;
          transition: 1.3s; }
        header .header-right ul li .lang-btn {
          border-bottom: 1px solid black; }
  @media (min-width: 768px) {
    header .header-left {
      padding-left: 40px; }
      header .header-left .logo {
        height: 20px; }
    header .header-right {
      padding-right: 40px; }
      header .header-right .burger {
        display: none; }
      header .header-right ul {
        display: inline-block; } }

header:hover .header-bg {
  height: 100%; }

.header-active {
  height: 60px; }
  .header-active .header-left .logo {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }

.header-white .header-bg {
  background-color: #212121; }

.header-white .header-left #logoWhite {
  opacity: 1; }

.header-white .header-left #logoBlack {
  opacity: 0; }

.header-white .header-right {
  color: white; }
  .header-white .header-right .burger .bar1, .header-white .header-right .burger .bar2, .header-white .header-right .burger .bar3 {
    background-color: white; }
  .header-white .header-right a {
    color: white; }

.header-black .header-bg {
  height: 100%;
  background-color: white; }

@media (min-width: 768px) {
  .header-black .header-bg {
    height: 0%; } }

.header-black .header-left #logoWhite {
  opacity: 0; }

.header-black .header-left #logoBlack {
  opacity: 1; }

.header-black .header-right {
  color: #212121; }
  .header-black .header-right .burger .bar1, .header-black .header-right .burger .bar2, .header-black .header-right .burger .bar3 {
    background-color: #212121; }
  .header-black .header-right a {
    color: #212121; }

.mobile-navigation-overlay {
  pointer-events: none;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  opacity: 0;
  position: fixed;
  display: -ms-grid;
  display: grid;
  z-index: 5; }
  .mobile-navigation-overlay .mobile-nav-left {
    background-color: #212121;
    height: 0%;
    -webkit-transition: 0.7s cubic-bezier(0.94, 0.09, 0.37, 0.78);
    -o-transition: 0.7s cubic-bezier(0.94, 0.09, 0.37, 0.78);
    transition: 0.7s cubic-bezier(0.94, 0.09, 0.37, 0.78);
    -webkit-transition-delay: 0.15s;
    -o-transition-delay: 0.15s;
    transition-delay: 0.15s;
    top: 0;
    position: absolute;
    width: 50%;
    padding-right: 4px;
    overflow: hidden; }
    .mobile-navigation-overlay .mobile-nav-left ul {
      padding: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .mobile-navigation-overlay .mobile-nav-left ul li {
        list-style: none; }
        .mobile-navigation-overlay .mobile-nav-left ul li a {
          text-decoration: none;
          color: white;
          font-size: 25px;
          line-height: 40px;
          -webkit-transition-delay: 2s;
          -o-transition-delay: 2s;
          transition-delay: 2s;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
  .mobile-navigation-overlay .mobile-nav-right {
    background-color: #212121;
    color: white;
    height: 0%;
    top: 0;
    right: 0;
    position: absolute;
    -webkit-transition: 0.7s cubic-bezier(0.94, 0.09, 0.37, 0.78);
    -o-transition: 0.7s cubic-bezier(0.94, 0.09, 0.37, 0.78);
    transition: 0.7s cubic-bezier(0.94, 0.09, 0.37, 0.78);
    width: 50%;
    overflow: hidden; }
    .mobile-navigation-overlay .mobile-nav-right .socials {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      display: -ms-grid;
      display: grid;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      justify-items: center;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 1em; }
      .mobile-navigation-overlay .mobile-nav-right .socials i {
        font-size: 20px;
        cursor: pointer;
        opacity: 0.6;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .mobile-navigation-overlay .mobile-nav-right .socials h4 {
        font-size: 12px;
        font-weight: 400;
        opacity: 0.6;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1/3; }
      .mobile-navigation-overlay .mobile-nav-right .socials a {
        opacity: 0.6;
        border-bottom: 1px solid white; }

.mobile-navigation-overlay-active {
  pointer-events: auto; }
  .mobile-navigation-overlay-active .mobile-nav-left, .mobile-navigation-overlay-active .mobile-nav-right {
    height: 100%; }

#lander {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  overflow: hidden; }
  #lander .lander-bg {
    background-color: white;
    background: url("assets/whiteBG2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  #lander .lander-content {
    display: -ms-grid;
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    #lander .lander-content .lander-left h1 {
      text-align: center;
      font-size: 40px;
      color: black;
      margin-bottom: 30px; }
    #lander .lander-content .lander-left .btn-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      justify-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 30px; }
      #lander .lander-content .lander-left .btn-wrapper .btn {
        margin-bottom: 20px;
        padding: 0; }
    #lander .lander-content .lander-right {
      width: 60%;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 2em;
      grid-column-gap: 2em;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      justify-items: center;
      -ms-grid-column-align: center;
      justify-self: center;
      -ms-grid-row-align: center;
      align-self: center; }
      #lander .lander-content .lander-right img {
        max-width: 100%;
        max-height: 50px;
        opacity: 0.7; }
  @media (min-width: 720px) {
    #lander .lander-bg {
      width: 100%;
      height: auto; }
    #lander .lander-content {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      width: 80%; }
      #lander .lander-content .lander-left h1 {
        text-align: left;
        font-size: 90px; }
      #lander .lander-content .lander-left .btn-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; }
        #lander .lander-content .lander-left .btn-wrapper .btn {
          margin-right: 40px; } }

#about {
  background-color: #212121;
  width: 100%;
  position: relative; }
  #about .scroll-title-wrapper {
    top: 45%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0.1; }
    #about .scroll-title-wrapper h6 {
      color: white;
      margin-left: 100px;
      text-align: right; }
  #about .about-content {
    display: -ms-grid;
    display: grid;
    width: 90%;
    margin: auto;
    padding: 150px 0 0 0; }
    #about .about-content .about-left {
      position: relative; }
      #about .about-content .about-left img {
        bottom: 0;
        width: 60%; }
      #about .about-content .about-left .about-img-1 {
        float: right; }
      #about .about-content .about-left .about-img-2 {
        position: absolute;
        margin-bottom: -100px; }
    #about .about-content .about-right {
      color: white;
      margin-bottom: 100px; }
      #about .about-content .about-right h3 {
        font-size: 16px;
        margin-bottom: 30px;
        letter-spacing: 2px; }
      #about .about-content .about-right p {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 20px; }
      #about .about-content .about-right .btn a {
        color: white;
        border-bottom: 1px solid white;
        font-size: 16px; }
  @media (min-width: 480px) {
    #about .about-content .about-left img {
      width: 53%; } }
  @media (min-width: 768px) {
    #about .about-content {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      padding: 150px 0 50px 0; }
      #about .about-content .about-left {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
        width: 200px;
        -ms-grid-column-align: right;
        justify-self: right; }
        #about .about-content .about-left img {
          width: 100%; }
        #about .about-content .about-left .about-img-1 {
          right: 0;
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-60%);
          -ms-transform: translateY(-60%);
          transform: translateY(-60%); }
        #about .about-content .about-left .about-img-2 {
          margin-left: -70%;
          margin-bottom: -150px; }
      #about .about-content .about-right {
        display: -ms-grid;
        display: grid;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2/3;
        width: 300px;
        margin-left: 50px; }
        #about .about-content .about-right h3 {
          font-size: 16px; }
        #about .about-content .about-right p {
          font-size: 15px; }
        #about .about-content .about-right .btn a {
          font-size: 14px; } }
  @media (min-width: 991px) {
    #about .about-content .about-left {
      width: 300px; }
      #about .about-content .about-left .about-img-1 {
        position: relative;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        top: 0; }
      #about .about-content .about-left .about-img-2 {
        margin-bottom: -200px; }
    #about .about-content .about-right {
      margin-left: 100px; } }

#partners {
  padding: 200px 0 125px 0;
  position: relative; }
  #partners .scroll-title-wrapper {
    top: 320px;
    text-align: right; }
  #partners .partners-content {
    margin: auto;
    width: 90%; }
    #partners .partners-content h3 {
      font-size: 16px;
      margin-bottom: 50px;
      letter-spacing: 2px;
      text-align: center; }
    #partners .partners-content .partners-carousel {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 1em;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      #partners .partners-content .partners-carousel img {
        width: 100%; }
  @media (min-width: 480px) {
    #partners .partners-content .partners-carousel {
      grid-column-gap: 3em; } }
  @media (min-width: 768px) {
    #partners .partners-content .partners-carousel {
      grid-column-gap: 0;
      justify-items: center; }
      #partners .partners-content .partners-carousel img {
        width: 130px; } }
  @media (min-width: 991px) {
    #partners {
      padding-top: 250px; }
      #partners .partners-content .partners-carousel img {
        width: 160px; } }

#projects .projects-content {
  position: relative;
  width: 100%;
  padding-bottom: 200px; }
  #projects .projects-content .project-titles {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #projects .projects-content .project-titles h3 {
      font-size: 16px;
      letter-spacing: 2px;
      text-align: center; }
    #projects .projects-content .project-titles .vertical-line {
      border-left: 1px solid black;
      height: 200px;
      margin: 30px 0; }
    #projects .projects-content .project-titles .project-title {
      position: relative;
      width: 100%;
      padding-top: 10px; }
      #projects .projects-content .project-titles .project-title .project-text-wrapper {
        position: relative;
        z-index: 100;
        -webkit-transition: 0.25s cubic-bezier(0.94, 0.09, 0.37, 0.78);
        -o-transition: 0.25s cubic-bezier(0.94, 0.09, 0.37, 0.78);
        transition: 0.25s cubic-bezier(0.94, 0.09, 0.37, 0.78);
        width: 100%; }
        #projects .projects-content .project-titles .project-title .project-text-wrapper a {
          font-size: 25px;
          margin-bottom: 10px;
          text-decoration: none;
          color: black; }
        #projects .projects-content .project-titles .project-title .project-text-wrapper .btn a {
          font-size: 16px; }
      #projects .projects-content .project-titles .project-title .img-wrapper {
        position: absolute;
        width: 80%;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        opacity: 0.7;
        overflow: hidden;
        z-index: 0;
        -webkit-transition: 0.25s cubic-bezier(0.94, 0.09, 0.37, 0.78);
        -o-transition: 0.25s cubic-bezier(0.94, 0.09, 0.37, 0.78);
        transition: 0.25s cubic-bezier(0.94, 0.09, 0.37, 0.78);
        -webkit-transition-delay: 0.15s;
        -o-transition-delay: 0.15s;
        transition-delay: 0.15s; }
        #projects .projects-content .project-titles .project-title .img-wrapper .img-crop {
          height: 400px;
          width: 100%;
          position: relative; }
          #projects .projects-content .project-titles .project-title .img-wrapper .img-crop img {
            height: 110%;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
      #projects .projects-content .project-titles .project-title .img-wrapper-left {
        left: 0; }
    #projects .projects-content .project-titles .project-title-right {
      text-align: left;
      width: 50%;
      -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
      transform: translateX(50%); }
    #projects .projects-content .project-titles .project-title-left {
      text-align: right;
      width: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
    #projects .projects-content .project-titles .project-title-right:hover > .project-text-wrapper {
      -webkit-transform: translateX(-25px);
      -ms-transform: translateX(-25px);
      transform: translateX(-25px); }
    #projects .projects-content .project-titles .project-title-right:hover > .img-wrapper {
      width: 75%;
      opacity: 0.4; }
    #projects .projects-content .project-titles .project-title-left:hover > .project-text-wrapper {
      -webkit-transform: translateX(25px);
      -ms-transform: translateX(25px);
      transform: translateX(25px); }
    #projects .projects-content .project-titles .project-title-left:hover > .img-wrapper {
      width: 75%;
      opacity: 0.4; }

#purpose {
  padding: 100px 0;
  position: relative; }
  #purpose h3 {
    font-size: 16px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    text-align: center; }
  #purpose .scroll-title-wrapper {
    bottom: 5em; }
    #purpose .scroll-title-wrapper h6 {
      text-align: right; }
  #purpose .purpose-content {
    padding: 2em;
    width: calc(100% - 4em); }
    #purpose .purpose-content p {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 20px; }
    #purpose .purpose-content .purpose-top {
      margin-bottom: 30px; }
      #purpose .purpose-content .purpose-top .purpose-btn {
        position: relative;
        height: 25px;
        margin-bottom: 5px; }
        #purpose .purpose-content .purpose-top .purpose-btn h4 {
          font-size: 25px;
          font-weight: 600;
          letter-spacing: 0.25em;
          color: #969696;
          position: absolute;
          left: 0;
          margin: 0;
          white-space: nowrap;
          cursor: pointer; }
        #purpose .purpose-content .purpose-top .purpose-btn h4:before {
          content: attr(data-text);
          font-weight: 700;
          position: absolute;
          margin: 0;
          top: 0;
          left: 0;
          color: black;
          width: 0;
          overflow: hidden;
          -webkit-transition: 0.25s cubic-bezier(0.94, 0.09, 0.37, 0.78);
          -o-transition: 0.25s cubic-bezier(0.94, 0.09, 0.37, 0.78);
          transition: 0.25s cubic-bezier(0.94, 0.09, 0.37, 0.78); }
        #purpose .purpose-content .purpose-top .purpose-btn h4:hover:before {
          width: 100%; }
      #purpose .purpose-content .purpose-top .purpose-btn-active h4:before {
        width: 100%; }
    #purpose .purpose-content .purpose-bottom .purpose-bottom-inner {
      background-color: #212121;
      padding: 2em;
      color: white; }
      #purpose .purpose-content .purpose-bottom .purpose-bottom-inner * {
        margin: 0;
        padding: 0; }
      #purpose .purpose-content .purpose-bottom .purpose-bottom-inner h4 {
        margin-bottom: 20px; }
      #purpose .purpose-content .purpose-bottom .purpose-bottom-inner p {
        font-size: 12px; }
      #purpose .purpose-content .purpose-bottom .purpose-bottom-inner .purpose-desc {
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        overflow: hidden; }
        #purpose .purpose-content .purpose-bottom .purpose-bottom-inner .purpose-desc h4 {
          overflow: hidden;
          -webkit-transition: margin-left 1s, max-height 0.2s;
          -o-transition: margin-left 1s, max-height 0.2s;
          transition: margin-left 1s, max-height 0.2s;
          margin: 0;
          padding: 0;
          margin-left: -100%;
          max-height: 0;
          width: auto; }
        #purpose .purpose-content .purpose-bottom .purpose-bottom-inner .purpose-desc p {
          overflow: hidden;
          -webkit-transition: margin-left 1s, max-height 1s;
          -o-transition: margin-left 1s, max-height 1s;
          transition: margin-left 1s, max-height 1s;
          margin-left: -100%;
          width: 100%;
          max-height: 0;
          -webkit-transition-delay: 1s;
          -o-transition-delay: 1s;
          transition-delay: 1s; }
      #purpose .purpose-content .purpose-bottom .purpose-bottom-inner .purpose-desc-active h4 {
        margin-left: 0;
        max-height: 30px; }
      #purpose .purpose-content .purpose-bottom .purpose-bottom-inner .purpose-desc-active p {
        margin-left: 0;
        max-height: 700px;
        -webkit-transition-delay: margin-left 2s;
        -o-transition-delay: margin-left 2s;
        transition-delay: margin-left 2s; }
        @media (min-width: 991px) {
          #purpose .purpose-content .purpose-bottom .purpose-bottom-inner .purpose-desc-active p {
            max-height: 300px; } }
  @media (min-width: 991px) {
    #purpose h3 {
      margin-bottom: 0; }
    #purpose .purpose-content {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 5em;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 5em;
      width: calc(100% - 10em); }
      #purpose .purpose-content .purpose-top {
        padding: 5em 0; }
      #purpose .purpose-content .purpose-bottom .purpose-bottom-inner p {
        font-size: 16px; } }

#team {
  background-color: #212121; }
  #team .team-content {
    padding: 100px 0 0 0;
    width: 80%;
    margin: auto;
    color: white; }
    #team .team-content h3 {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 2px;
      text-align: center;
      margin-bottom: 30px; }
    #team .team-content .team-member {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
      grid-column-gap: 15px;
      padding-bottom: 40px; }
      #team .team-content .team-member img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        width: 100%;
        margin-bottom: 10px; }
      #team .team-content .team-member .team-member-desc {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        #team .team-content .team-member .team-member-desc h4 {
          font-weight: 400;
          font-size: 16px;
          margin-bottom: 10px;
          -webkit-writing-mode: vertical-rl;
          -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl; }
          #team .team-content .team-member .team-member-desc h4 span {
            opacity: 0.7; }
        #team .team-content .team-member .team-member-desc i {
          font-size: 15px;
          margin-bottom: 10px;
          margin-left: -5px;
          opacity: 0.4;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
    #team .team-content .team-member:last-of-type {
      padding-bottom: 0; }
    #team .team-content .team-member:nth-of-type(even) img {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      grid-column: 2/3; }
    #team .team-content .team-member:nth-of-type(even) .team-member-desc {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1/2;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-row: 1/2; }
  @media (min-width: 480px) {
    #team .team-content {
      width: calc(100% - 10em);
      padding: 7em 5em 5em 5em;
      display: -ms-grid;
      display: grid; }
      #team .team-content .team-member {
        max-width: 350px; }
      #team .team-content .team-member:nth-of-type(even) {
        -ms-flex-item-align: right;
        -ms-grid-row-align: right;
        align-self: right;
        -ms-grid-column-align: right;
        justify-self: right; } }
  @media (min-width: 991px) {
    #team .team-content {
      width: 60%; } }

#footer {
  background-color: #212121;
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center; }
  #footer h4 {
    opacity: 0.4;
    font-weight: 400; }
  #footer p {
    font-size: 12px;
    margin-bottom: 15px; }
  #footer .footer-left {
    margin-top: 75px;
    margin-bottom: 25px; }
    #footer .footer-left .footer-info-item {
      margin-bottom: 15px; }
      #footer .footer-left .footer-info-item h4 {
        margin-bottom: 5px;
        font-size: 20px; }
      #footer .footer-left .footer-info-item p {
        font-size: 16px; }
      #footer .footer-left .footer-info-item .footer-socials i {
        font-size: 18px;
        margin: 0 10px; }
  #footer .footer-right {
    margin-bottom: 50px; }
    #footer .footer-right h3 {
      font-size: 30px;
      opacity: 0.4;
      font-weight: 500; }
      #footer .footer-right h3 a {
        text-decoration: none;
        color: white; }
  @media (min-width: 991px) {
    #footer {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      padding: 5em 5em 0 5em; }
      #footer .copyright {
        margin-top: 5em;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1/3; }
      #footer .footer-left {
        text-align: left;
        display: -ms-grid;
        display: grid;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
        grid-column-gap: 2em;
        margin: 0; }
        #footer .footer-left .footer-info-item {
          margin-bottom: 0; }
          #footer .footer-left .footer-info-item h4 {
            font-size: 16px; }
          #footer .footer-left .footer-info-item p {
            font-size: 18px; }
          #footer .footer-left .footer-info-item .footer-socials i {
            margin: 0 10px 0 0; }
      #footer .footer-right {
        margin: 0;
        text-align: right;
        display: -ms-grid;
        display: grid;
        -ms-grid-row-align: center;
        align-self: center; }
        #footer .footer-right .footer-nav-item {
          position: relative;
          height: 40px;
          text-align: right; }
          #footer .footer-right .footer-nav-item h3 {
            opacity: 1; }
            #footer .footer-right .footer-nav-item h3 a {
              font-size: 40px;
              font-weight: 600;
              letter-spacing: 0.25em;
              color: #3f3f3f;
              position: absolute;
              right: 0;
              margin: 0; }
            #footer .footer-right .footer-nav-item h3 a:before {
              content: attr(data-text);
              font-weight: 700;
              position: absolute;
              margin: 0;
              top: 0;
              left: 0;
              color: white;
              width: 0;
              overflow: hidden;
              -webkit-transition: 0.25s cubic-bezier(0.94, 0.09, 0.37, 0.78);
              -o-transition: 0.25s cubic-bezier(0.94, 0.09, 0.37, 0.78);
              transition: 0.25s cubic-bezier(0.94, 0.09, 0.37, 0.78); }
            #footer .footer-right .footer-nav-item h3 a:hover:before {
              width: 100%; } }

#contact {
  display: -ms-grid;
  display: grid;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 100px;
  min-height: calc(100vh - 150px); }
  #contact .contact-left {
    margin-bottom: 50px; }
    #contact .contact-left h2 {
      font-weight: 600; }
    #contact .contact-left p {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 20px; }
  #contact .contact-right h3 {
    font-weight: 400;
    margin-bottom: 10px; }
  #contact .contact-right .btn a {
    font-size: 14px; }
  #contact .contact-right form input, #contact .contact-right form textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #212121;
    background-color: white; }
  #contact .contact-right form input {
    height: 30px;
    margin-bottom: 15px; }
  #contact .contact-right form input::-webkit-input-placeholder {
    margin-left: 10px; }
  #contact .contact-right form textarea {
    height: 100px;
    margin-bottom: 20px; }
  #contact .contact-right .spacer {
    margin-bottom: 40px; }
  @media (min-width: 1024px) {
    #contact {
      padding-left: 100px;
      padding-right: 100px;
      padding-top: 150px;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 30px; }
      #contact h2 {
        font-size: 70px;
        margin-bottom: 20px; } }
